<% include ../partials/header %>
    <h1>Add user</h1>
 <form action="/users/insert_user" method="post">
<div class="form-group">
  <label for="id">ID</label>
  <input type="number"
    class="form-control" name="id" id="" aria-describedby="helpId" placeholder=""value="">
  <small id="helpId" class="form-text text-muted">Product ID</small>
</div>

  <div class="form-group">
    <label for="title">email</label>
    <input type="text"
      class="form-control" name="title" id="" aria-describedby="helpId" placeholder=""value="">
    <small id="helpId" class="form-text text-muted">Email</small>
  </div>

  <div class="form-group">
    <label for="Price">password</label>
    <input type="number"
      class="form-control" name="price" id="" aria-describedby="helpId" placeholder=""value="">
    <small id="helpId" class="form-text text-muted">Password</small>
    </div>
    

    <div class="form-group">
        <label for="">Time</label>
        <input type="text" class="form-control" value="<%= time %>" name="price" id="" aria-describedby="helpId" placeholder="" disabled>
        <small id="helpId" class="form-text text-muted">Time</small>
      </div>

      
    <button type="submit" class="btn btn-success">Save</button>
  

</from>

  <% include ../partials/footer %>