<% include ../partials/header %>
<div class="jumbotron  "  >
 <br>
 <h2>Users Report  </h2>
<table class="table">
    <thead>
       <tr>
            <th>Customers ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Total Sales</th>
        </tr>
    </thead>
    <tbody>
    <% user.forEach(function(user) { %>
        <tr>
            <td scope="row"><%= user.user_id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>$<%= user.price %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
</div>